body 
	{
	background-color:#e6e6e6;
    background-repeat: no-repeat;
    background-position:  left bottom;
    background-attachment: fixed;
	background-size: cover;
	}
.bio_img
	{
	background-image:url("../image/index_me.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
	background-size: cover;
	}
h1 
	{
	font-family:'Lato', sans-serif;
	letter-spacing: 3px;
	font-weight: 300;
	font-size: 30px;
	color :black;
	text-align: left;
	margin-top: 120px;
    margin-left: 650px;
	}
.cv
	{
	margin-top: 5px;
    margin-left: 100px;
	}
.hi
	{
	margin-left: 650px;
	font-size: 20px;
	}
h6 
	{
	font-family:'Lato', sans-serif;
	letter-spacing: 3px;
	font-weight: 700;
	font-size: 10px;
	color :#00b3b3;
	text-align: left;
	margin-top: 5px;
    margin-left: 950px;
	}
	
h5 {
	font-family:'Lato', sans-serif;
	letter-spacing: 2px;
	font-weight: 400;
	font-size: 16px;
	color : black;
	text-align: left;
	margin-top: 5px;
    margin-left: 650px;
	margin-right: 50px;
	}
span
	{
    font-family:'Lato', sans-serif;
	letter-spacing: 2px;
	font-weight: 700;
	font-size: 14px;
	color : #1f1f14;
	
	
	}
	
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	
	}

li 
	{
	display: inline;
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 25px;
	font-size: 16px;
	letter-spacing: 2px;
	}
	
input[type=text] 
	{
	padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid #00b3b3;
	background-color: #f2f2f2;
	margin-left: 125px;
	}
textarea 
	{
	padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid #00b3b3;
	background-color: #f2f2f2;
	margin-left: 50px;
	}
#forms
	{
	position:absolute;
	right :0;
	width: 50%;

	}
.logo
	{
	position:absolute;
    left: 0;
    top: 0;
    width : 100px;
	height: 100px;
	}
#nav
	{
	position : fixed;
	background-color : rgba(0, 0, 0, 0.7);
	top : 0;
	left:0;
	width:100%;
	z-index: +2;

	}
#menu_iteams
{
	right:0;
}
	
a:link, a:visited 
	{
    color: white;
	text-decoration: none;
	font-family:  'Lato', sans-serif;
	font-weight: 300;
	}

a:hover, a:active 
	{
    color: white;
	font-family:  'Lato', sans-serif;
	font-weight:900;
	text-decoration: none;
	text-decoration: none;
	}